/* You can add global styles to this file, and also import other style files */


.badges {
  .badgebox{
    display: inline-block;
    height:50px;
  }
  a {
    margin: 50px;
    padding: 15px;
    font-size: 18px;
    width: 50px;
    display: inline-block;

    &:hover {
      cursor: pointer;
    }
  }
  // .arrow {
  //   display: inline-block;
  // }
}


.screenshot {
  img {
    width: 100%;
  }
}

.widgets {
  margin-bottom: 50px;

  .widgets-table {
    max-height: 600px;
  }
}

.loc {
  max-height: 645px;

  .loc-container {
    height: 88%;
    margin-bottom: 20px;
  }

  .loc-table {
    // max-height: 600px;
  }
}

.source-state-conrtainer, .resulting-state-conrtainer {
  height: 100%;
}

a.badge-success {
  color: #1aae6f !important;
}

a.badge-danger {
  color: #f80031 !important;
}

.not-available {
  font-weight: 12px !important;
  margin: 15px !important;
}

.firstTh {
  position: sticky;
  top: 0;
}

.interacted {
  color: #2643e9 !important;
  background-color: rgba(203, 210, 246, 0.5) !important;
}

.secondTh {
  position: sticky;
  color: #2643e9 !important;
  top: 40px;
}

.sticky-row td {
  position: sticky;
}

.content {
  margin-top: 140px !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}